.feed {
  grid-column: center-start / 7;

  & > :not(:last-child) {
    margin-bottom: 5rem;
  }

  &__bottom {
    text-align: center;
    padding: 2rem;
    & > .icon {
      fill: $color-secondary;
    }
  }

  &__bottom-icon {
    color: $color-secondary;
  }

  @include respond(tab-port) {
    grid-column: center-start / center-end;
  }

  @include respond(phone) {
    grid-column: full-start / full-end;
    background-color: $color-green-bg;
    & > :not(:last-child) {
      margin-bottom: 3rem;
      margin-top: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
