.post-dialog {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: 6rem 55rem;
  grid-template-columns: minmax(25vw, 100%) 35rem;
  max-width: 100vw;

  &--simple {
    @include simplePostDialog(postDialog);
  }

  &__image {
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    background-color: #FFFFFF;
    min-height: 28rem;
    max-height: 74rem;
    display: flex;
    flex-direction: row-reverse;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    a {
      position: absolute;      
      margin: 4rem 0.7rem;
      background-color: $color-green-bg;
      border-radius: 100px;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.2rem;
      opacity: 0.5;

      span {
          svg{
            font-size: 2rem;            
          }
      }    
    }

    &--simple {
      @include simplePostDialog(image);
    }
  }

  &__content {
    grid-row: 2 / -1;
    background-color: $color-white;
    display: grid;
    grid-template-rows: 1fr repeat(2, min-content);

    &--simple {
      @include simplePostDialog(content);
    }
  }

  &__header {
    display: flex;    
    align-items: center;
    padding: 1rem;
    background-color: $color-white;

    .avatar--post{
      margin-right: 0.5rem;
    }

    &--simple {
      @include simplePostDialog(header);
    } 
    
    .icon{
      width: 2rem;
      height: 2rem;
      margin-left: 0.4rem;

    }
  }

  &__more {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0.7rem;
    background-color: $color-green-bg;
    border-radius: 100px;
    padding: 0.3rem;
    opacity: 0.5;
  }

  &__stats {
    padding: 1rem;
    border-bottom: 1px solid #efefef;

    &--simple {
      @include simplePostDialog(stats);
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    *:not(:last-child) {
      margin-right: 1rem;
    }
    *:last-child {
      margin-left: auto;
    }
  }

  &__add-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;

    input {
      width: 100%;
      border: none;
      background-color: white;
      font-family: inherit;
      outline: none;
    }

    input:placeholder-shown + button {
      opacity: 0.5;
    }
  }

  @include respond(phone) {
    @include simplePostDialog(postDialog);
    grid-template-rows: min-content min-content min-content;
    
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border: none;
    &__image {
      @include simplePostDialog(image);
    }
    &__content {
      @include simplePostDialog(content);
    }
    &__header {
      @include simplePostDialog(header);
    }
    &__stats {
      @include simplePostDialog(stats);
      padding: 1rem 1.5rem;
    }
  }
}

.center{
  text-align: center;
}

.to-right {
  margin-left: auto;
} 